<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>静态页面生成器</title>
    <link rel="stylesheet" href="style/css/reset.css">
    <link rel="stylesheet" href="style/css/index.css">
    <script src='js/lib/jquery-1.8.3.js'></script>
    <script src='js/lib/layer/layer.js'></script>
    <script src='js/lib/jquery.selectareas.js'></script>
    <link rel="stylesheet" href="js/lib/resources/jquery.selectareas.css">
<body>
    <div class="box clearfix">
        <div class="uploadLeft">
            <h3 class="commonTitle">预览区：</h3>
            <div class="preview">
                <img src="" alt="" id="previewImg">
            </div>
            <div class="fileBox">
                <span>+ 点击添加图片 +</span>
                <input class="imgFile" type="file" name="file">
            </div>
        </div>
        <div class="uploadRight">
            <h3 class="commonTitle">设置区：</h3>
            <div class="pageInfo">
                <div class="formItem">
                    <label for="">切块基准高度(px)：</label><input type="text" class="baseHeight" placeholder="请输入切块基准高度(px)" value="500">
                </div>
                <div class="formItem">
                    <label for="">页面title：</label><input type="text" class="pageTitle" placeholder="请输入页面title" value="网页标题">
                </div>
                <div class="formItem">
                    <label for="">meta keywords：</label><input type="text" class="pageKeywords" placeholder="请输入页面关键词" value="关键字">
                </div>
                <div class="formItem">
                    <label for="">meta description：</label><input type="text" class="pageDesc" placeholder="请输入页面描述" value="描述">
                </div>
                <div class="linkBox">
                </div>
            </div>
            <div class="pageType">
                <input type="radio" name="pageType" id="pc" value="pc" disabled><span>PC页面</span>
                <input type="radio" name="pageType" id="mobile" value="mobile" checked><span>移动端页面</span>
            </div>
            <div class="actionBox">
                <button class="generateBtn">生成页面</button> 
                <button class="fillUrl hide">填充url</button>
                <button class="uploadExcel">上传Excel</button>
            </div>
            <input type="file" class="excel hide" id="excel">
            
        </div>

    </div>
    
    <script src='js/main.js'></script>
</body>
</html>