<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title><%=pageInfo.title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="multipart/form-data;">
<meta http-equiv="Cache-Control" content="no-cache">
<meta name="description" content="<%=pageInfo.description %>">
<meta name="keywords" content="<%=pageInfo.keywords %>">
<style>        
    * {            
        margin: 0;            
        padding: 0;        
    }        
    img {            
        display: block;            
        width: 100%;            
        height: auto;        
    }    
</style>
</head>
<body>
        <% urlArray.forEach(function(url){ %>
            <img src="<%=url.url %>">
        <% }); %>
</body>
</html>