body {
    background-color: #eaeaea;
}
.box {
    .hide {
        display: none;
    }
    width: 1200px;
    margin: auto;
    @at-root .uploadLeft {
        float: left;
        @at-root .commonTitle {
            margin-top: 20px;
            font-size: 20px;
            color: #333;
            .iconfont {
                font-size: 26px;
                margin-right: 5px;
                color: #f70;
                vertical-align: -2px;
            }
        }
        @at-root .preview {
            width: 500px;
            height: 500px;
            background-color: #fff;
            overflow-y: scroll;
            overflow-x: hidden;
            border: 1px solid #ddd;
            margin: 20px 0;
            border-radius: 3px;
            position: relative;
            &::-webkit-scrollbar{
                width: 0; 
            }
            img {
                width: 100%;
            }
            @at-root .previewTps {
                position: absolute;
                text-align: center;
                width: 100%;
                padding-top: 160px;
                color: #ccc;
                .iconfont {
                    font-size: 50px;
                }
                h4 {
                    font-size: 18px;
                    margin-top: 40px;
                }
                p {
                    font-size: 12px;
                    line-height: 4;
                }
            }
        }
        .imgFile {
            display: none;
        }
    }
    @at-root .uploadRight {
        float: left;
        margin-left: 30px;
        @at-root .pageInfo {
            padding: 20px;
            margin-top: 20px;
            height: 360px;
            padding-bottom: 30px;
            overflow-y: scroll;
            border: 1px solid #ddd;
            border-radius: 3px;
            background-color: #fff;
            @at-root .formItem {
                line-height: 40px;
                label {
                    display: block;
                }
                .iconfont {
                    font-size: 14px;
                    color: #f70;
                    margin-right: 3px;
                }
                input {
                    display: block;
                    width: 500px;
                    height: 38px;
                    padding: 0 5px;
                    border: 1px solid #ddd;
                    border-radius: 3px;
                    &.on {
                        border-color: #f70;
                    }
                }
            }
        }
        @at-root .pageType {
            margin: 20px 0;
            padding-left: 1px;
            display: flex;
            @at-root .radioBox {
                position: relative;
                padding-left: 15px;
                input {
                    display: none;
                    &:checked + label::before {
                        content: "\e60f";
                        color: #f70;
                    }
                }
                
                label {
                    margin: 0 20px 0 5px;
                    font-size: 14px;
                    &::before{
                        font-family: "iconfont" !important;
                        content: "\e610";
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: #999;
                    }
                }
            }
            
        }
        @at-root .actionBox {
            display: flex;
            margin: 20px 0;
            @at-root .generateBtn {
                display: block;
                width: 100px;
                height: 35px;
                background-color: #f60;
                color: #fff;
                font-size: 14px;
                border-color: transparent;
                border-radius: 3px;
                cursor: pointer;
                margin-right: 20px;
            }
            @at-root .fillUrl {
                @extend .generateBtn;
            }
            @at-root .uploadExcel {
                @extend .generateBtn;
            }
        }

    }
}







