.box {
    .hide {
        display: none;
    }
    width: 1200px;
    margin: auto;
    @at-root .uploadLeft {
        float: left;
        @at-root .commonTitle {
            margin-top: 20px;
            font-size: 20px;
        }
        @at-root .preview {
            width: 500px;
            height: 500px;
            overflow-y: scroll;
            overflow-x: hidden;
            border: 1px solid #ddd;
            margin: 20px 0;
            border-radius: 3px;
            img {
                width: 100%;
            }
        }
        @at-root .fileBox {
            text-align: center;
            width: 500px;
            span {
                font-size: 14px;
                font-weight: bold;
                color: #f60;
                cursor: pointer;
            }
            img {
                width: 200px;
                cursor: pointer;
            }
            .imgFile {
                display: none;
            }
        }
    }
    @at-root .uploadRight {
        float: left;
        margin-left: 30px;
        @at-root .pageInfo {
            padding: 20px;
            margin-top: 20px;
            height: 360px;
            padding-bottom: 30px;
            overflow-y: scroll;
            border: 1px solid #ddd;
            border-radius: 3px;
            @at-root .formItem {
                line-height: 40px;
                label {
                    display: block;
                }
                input {
                    display: block;
                    width: 500px;
                    height: 38px;
                    padding: 0 5px;
                    border: 1px solid #ddd;
                    border-radius: 3px;
                    &.on {
                        border-color: #f70;
                    }
                }
            }
        }
        @at-root .pageType {
            margin: 20px 0;
            padding-left: 1px;
            span {
                margin: 0 20px 0 5px;
                font-size: 14px;
            }
        }
        @at-root .actionBox {
            display: flex;
            margin: 20px 0;
            @at-root .generateBtn {
                display: block;
                width: 100px;
                height: 35px;
                background-color: #f60;
                color: #fff;
                font-size: 14px;
                border-color: transparent;
                border-radius: 3px;
                cursor: pointer;
                margin-right: 20px;
            }
            @at-root .fillUrl {
                @extend .generateBtn;
            }
            @at-root .uploadExcel {
                @extend .generateBtn;
            }
        }

    }
}







